/* COLOR NAME */

/*h1{
  color: tomato;
}*/

/* HAX COLOR */
/*h1{
  color: #783209;
}*/

/* RGB */
/*h1{
  color: rgb(90, 39,12)
}*/

/* BACKGROUND COLOR*/
/*body{
  background-color: rgb(200, 200,200)
  color: #fff;
}*/

/* OPACITY */
/*#div1{
  background-color: green;
}*/